

form{
    border:8px solid white;
    background-color: rgba(2, 128, 191, 0.443);
    border-radius: 16px;
    padding: 0.5rem;  
    width:60%;
    margin-left: 4rem;
 position: relative;
 top: 8rem;
}
.type{
    display: block;
    // width:80%;
    

}

input::-webkit-input-placeholder{
    color: black;
    font-weight: bold;
    
}
.button{
    margin: 0.5rem;  
}
img{
    width:100%;
}
