<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <img src="../../assets/login.png">
 
    <label for="userEmail">userEmail:</label>
    <input id="user-Email" type="text" class="type" formControlName="userEmail">
    <label for="password">Password:</label>
    <input id="password" type="text" class="type" formControlName="password">
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
