.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0;
    height: 100vh;
    padding:0;

}
.sign,.login,.data{
    border:2px solid black;
    // height: 100vh;
}
.sign{
    background-color:lightseagreen;
}
.login{
    background-color:lightblue;
}
.data{
    background-color:rgb(245, 176, 149);
}