<div class="container">
  <div class="sign">
    <app-signup></app-signup>
  </div>
  
  <div class="login">
    <app-login (data11)="$event"></app-login>
  </div>
  
  <div class="data">
    
  <app-data [displayData]="displayData"></app-data>
  </div>
</div>