
form{
    // height: 100%;
    // width:80%;
    border:8px solid white;
    background-color: rgba(167, 244, 217, 0.909);
    border-radius: 16px;
    padding: 0.5rem;  


}
.type{
    display: block;
    width:95%;

}
form{

    position:fixed;
    top:20%;
    left:5%;
    padding:2rem;
    width:20%;
}
input::-webkit-input-placeholder{
    color: black;
    font-weight: bold;
    
}
img{
    width:100%;

}