<p>signup works!</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <!-- <img src="../../assets/signup.png"> -->
<label for="userName">userName:</label>
<input id="user-Name" type="text" class="type" formControlName="userName">
<label for="userEmail">userEmail:</label>
<input id="user-Email" type="text" class="type" formControlName="userEmail">
<label for="password">Password:</label>
<input id="password" type="text" class="type" formControlName="password">
<label for="userCity">usercity:</label>
<input id="user-City" type="text" class="type" formControlName="userCity">
<label for="userRole">userrole:</label>
<input id="user-role" type="text" class="type" formControlName="userRole">
<label for="userSalary">usersalary:</label>
<input id="user-salary" type="text" class="type" formControlName="userSalary">

<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
