<p>data works!</p>
<div class="info">
      
        <p>{{displayData.userName}}</p>
        <p>{{displayData.userEmail}}</p>
        <p>{{displayData.password}}</p>
        <p>{{displayData.userCity}}</p>
        <p>{{displayData.userRole}}</p>
        <p>{{displayData.userSalary}}</p>
</div>
